body{
margin: 0;
font-family: "Outfit";
}
section{
    background-color: hsl(212, 45%, 89%);
    width: 100vw;
    height: 800px;
    display: flex;
justify-content: center;
align-items: center;
}
.qrcontainer{
    width: 300px;
    height: 470px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.32); 
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15);
flex-shrink: 0;
}
img{
    width: 270px;
    border-radius: 10px;
    margin-top: 14px;
}
h1{
    text-align: center;
    margin: 10px 17px;
}
p{
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    margin: 8px 30px;
    
}
